newyawl/trunk/test/au/edu/qut/yawl/unmarshal/Person.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- edited with XML Spy v4.4 U (http://www.xmlspy.com) by Lachlan Aldred (Queensland University of Technology) -->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<xs:include schemaLocation="file://D:/Yawl/schema/Address.xsd"/>
	<xs:element name="person" type="PersonType"/>
	<xs:complexType name="PersonType">
		<xs:sequence>
			<xs:element name="age" type="xs:nonNegativeInteger"/>
			<xs:element ref="address"/>
			<xs:element name="name2" type="xs:string"/>
		</xs:sequence>
	</xs:complexType>
</xs:schema>
